  .custom-radio:not(:disabled):active+label::before {
    background-color: #eb1313;
    border-color: #b3d7ff;
  }

  h1 {
    color: green;
  }

  body {
    background: red;
  }

  /* .input-field{
	
  } */